@{
    Layout = "~/Views/Shared/Admin/_adminLayout.cshtml";
}

@model List<OnlineBookStore.Models.Product>

<div class="container">
    <div class="page-header">
        <h2><font color="black">List Of All Books</font></h2>
    </div>
    <div class="row">

        @foreach (var a in Model)
        {

            <div class="col-md-3">
                <img src="~/Images/@a.BookImage" style="width:150px;height:150px">
                <h3>@a.BookTitle</h3>
                <p>
                    <div>Author :   <b>@a.BookAuthor</b></div>

                    <div> Price  :     <b>@a.BookPrice</b></div>
                </p>
            </div>
        }
    </div>
</div>