@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div>
        <h1 class="col-md-offset-5 btn-group-vertical">About Us</h1>
    </div>

    <p>Online Sipra Book Store uses the power of business to change the world.</p>
    <p>We collect and sell books online to donate books and fund literacy initiatives worldwide.</p>
    <p>We believe that education and access to books are basic human rights.
    That's why we provide quick access to books on internet.</p>
    <p>Every book purchased from Better World Books 
    contributes to individual literacy throughout the world and the potential for a better life.</p> 
    
    <p>Clearly, we can’t do this work without our customers. 
    That's why we’re so passionate about trying to offer the best price, selection, customer service, and 
    overall shopping experience.</p>
    <p>Thanks for joining us in our mission to create a better world, one book at a time.</p>
<br />
<br />
<br />
<br />