@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="glyphicon-align-center">

    <h1 class="col-md-offset-5 btn-group-vertical">Contact Us</h1>

    <h3>By email :</h3>

    <p>
         Questions about your order :  <b>ordersquries_osbs@gmail.com</b>
</p>
    
    <p>
        Technical issues and all other questions: <b>help_osbs@gmail.com</b>
</p>

    <br />
    <h1 align="center">Web Site Feedback</h1>
    <br />
    <p>To give feedback about our Web site design, features, or functionality, 
    send an e-mail or write us your feedback to the address below</p>

    <p><b>Address</b></p>

    <p><b>Write to us at:</b></p>

    <p>
        Gujjar Plaza, Floor#05<br />
        Old Anarkali, Food Street<br />
        Lahore, Pakistan<br />
    </p>

    <p><b>By email on :</b></p>

    <p>onlinesiprabookstore@gmail.com</p>

</div>



<br />
<br />
<br />
<br />