@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h1 class="col-md-offset-5 btn-group-vertical">Privacy Policy</h1>
<p>
Our site uses an order form for visitors to request information, products, and services. </p>

<p>We request customer's contact information (name, address, and email address) and 
financial information (payment information to make purchases).</p>

Contact information from the order form is used to ship orders to customers. 
The customer's contact information is used to contact the customer when necessary.

<p>Financial information that is collected is used to bill the customer for products and services.</p>

<p>
The web site has security measures in place to protect the loss, misuse and alteration of the information under our control. 
We use 128-bit SSL encryption to protect your financial information.
</p>

<p>If you have any questions about this privacy statement, the practices of this site, 
    or your dealings with this web site, you can contact with us.</p>
<br />
<br />
<br />
<br />
