@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="col-md-12" style="background-color:whitesmoke">
    <div class="col-md-6">
        <h2>Sign In As Admin</h2>
        <br /><br />

        <form method="post" action="../Admin/SignINAdmin">
            <label>User Name</label>
            <br />
            <input type="text" name="aName" placeholder="Enter User Name" />
            <br />
            <br />
            <label>Password</label>
            <br />
            <input type="password" name="aPass" placeholder="Enter Password" />
            <br />
            <br />

            <button type="submit" name="signINAdmin" align="center">Sign In</button>
            <br />
            <br />
            <br />
            <br />
        </form>
    </div>

    <div class="col-md-6">
        <h2>Sign In As Customer</h2>
        <br /><br />

        <form method="post" action="../Customer/SignINCustomer">
            <label>User Name</label>
            <br />
            <input type="text" name="cName" placeholder="Enter User Name" />
            <br />
            <br />
            <label>Password</label>
            <br />
            <input type="password" name="cPass" placeholder="Enter Password" />
            <br />
            <br />

            <button type="submit" name="signINCustomer">Sign In</button>
            <br />
            <br />
            <br />
            <br />
        </form>
    </div>
</div>