@{
    Layout = "~/Views/Shared/Customer/_customerLayout.cshtml";
}

<div class="bg-danger">
    <div class="container glyphicon-text-color">
        <div align="center">
            <br />
            <br />
            <h1>Change Password</h1>
            <br /><br />

            <form method="post" action="/Customer/changePassword">
                <input type="password" name="uPass" placeholder="Enter Your Password" />
                <br />
                <br />
                
                <input type="password" name="uNewPass" placeholder="Enter New Password" />
                <br />
                <br />

                <input type="password" name="uReNewPass" placeholder="Confirm New Password" />
                <br />
                <br />

                <button type="submit" name="signINAdmin">Change Password</button>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </form>
        </div>
    </div>
</div>
