@{
    Layout = "~/Views/Shared/Customer/_customerLayout.cshtml";
}

@model OnlineBookStore.Models.OrderBook

<div class="bg-danger">
    <div class="container glyphicon-text-color">
        <div align="center">
            <h1>View Order of Book which you purchase</h1>
            <br /><br />

            <form method="post" action="">
                @Html.TextBoxFor(m => m.orderNo, new { placeholder = "Enter Order No" })
                <br />
                <br />

                <button type="submit" name="viewOrder">View Order</button>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </form>
        </div>
    </div>
</div>

